[user]
    email = nicholas.c.meade@gmail.com
    name = Nicholas Meade
[core]
    editor = vim
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
