[user]
    email = nicholas.c.meade@gmail.com
    name = Nicholas Meade
	signingkey = /Users/ncmeade/.ssh/id_ed25519.pub
[core]
    editor = vim
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[gpg]
	format = ssh
